@font-face {
  font-family: "AbeeZeeRegular";
  src: url(fonts/ABeeZee-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
html,
body {
  /* the font-size is determined based on screen width */
  font-size: calc(10px + 0.0025 * 100vw);
  line-height: 1.5;
  font-family: "AbeeZeeRegular";
  scrollbar-width: thin;
}
body {
  margin: 0;
  padding: 0 3rem;
  background-color: rgba(10, 40, 100, 1);
  background: linear-gradient(150deg, #08244f 0%, #134cb5 47%, #0b42ab 100%);
  background-attachment: fixed;
}
button {
  cursor: pointer;
}
/* start of header section */
header {
  margin-top: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.location-container {
  min-width: 40%;
  margin-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.location-icon {
  display: inline-block;
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 0.5rem;
  background: url(images/icons/location.svg) no-repeat 0 0/100% 100%;
}

.location-icon {
  margin-top: 0.3rem;
  align-self: flex-start;
}

.location {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
}
.search-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-container input {
  box-sizing: border-box;
  border-radius: 2rem;

  height: 2.7rem;
  width: 100%;
  background-color: transparent;
  color: white;
  border: 0.2rem solid white;
  outline: none;
  font: 1.3rem/1.5 "AbeeZeeRegular";
}
.search-container .unround-bottom-corners {
  border-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
input[type="search"] {
  padding-left: 2.3rem;
  background: url(images/icons/search.svg) no-repeat center left/2.5rem 1.2rem;
}
input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  appearance: none;
  height: 1.7rem;
  width: 1.7rem;
  background: url(images/icons/x.svg) no-repeat center center/40% 40%;
}

.results-container {
  background-color: rgba(0, 16, 38, 0.788);
  backdrop-filter: blur(0.6rem);
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0.2rem;
  border: 0.2rem solid white;
  box-sizing: border-box;
  position: absolute;
  top: 2.7rem;
  width: 100%;
  max-height: 20rem;
  z-index: 1000;
  padding-bottom: 0.4rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.result {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-rows: 63% 37%;
  grid-template-columns: 30% 70%;
  padding: 0.4rem 0;
  margin: 0.2rem 0;
  width: 100%;
  text-align: left;
}
.result:first-child {
  margin-top: 0;
}
.result .location-name {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: left;
  align-self: center;
  padding-right: 0.4rem;
}
.result img {
  justify-self: center;
  align-self: center;
  width: 80%;
  height: 85%;

  object-fit: contain;
  grid-column: 1/2;
  grid-row: 1/3;
  float: left;
}
.result h3 {
  color: white;
  margin: 0;
  font-size: 1.3rem;
  font-family: sans-serif;
  line-height: 1;
}
.result p {
  margin: 0;
  margin-top: 0.1rem;
  color: rgb(184, 184, 184);
  font-size: 0.9rem;
  font-family: sans-serif;
}
.use-location {
  font-family: sans-serif;
  display: flex;

  align-items: center;
  flex-flow: row nowrap;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);

  padding: 0;
  width: 100%;

  font-weight: 500;
  height: 3rem;
  border-radius: 1rem;
}

.use-location .use-location-icon {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1/1;
  margin-left: 1rem;
  background: url(images/icons/marker.svg) no-repeat center center/80% 80%;
}
.use-location .use-location-text {
  font-size: 1.4rem;
  font-variant: small-caps;
  color: white;
}

.no-result h2 {
  color: white;
  margin-left: 2rem;
  margin: 1rem;
  margin-left: 2rem;
}
/* start of main section */
.extendable > *:last-child {
  height: 1.4rem;
  width: 1.4rem;
  background: url(images/icons/arrow.svg) no-repeat center center/ 100% 100%;
}
.picked {
  transform: rotate(0.5turn);
}

main {
  margin-top: 3rem;
}
.celesius::after {
  content: "°C";
  vertical-align: super;
  font-size: 0.35em;
}
.container {
  border-radius: 2rem;
  background-color: rgba(0, 16, 38, 0.3);
  color: white;
  width: 100%;
  margin-bottom: 2rem;
}

.weather-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.main-info {
  width: 100%;
}
/* weather icon */
.weather-icon {
  position: relative;
  width: 100%;

  aspect-ratio: 1/0.33;
  margin-bottom: 1rem;
}
.weather-icon img {
  position: absolute;
  z-index: -1;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-54%, -50%);
}

/* temperatures */
.temperatures {
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
}
.temperatures p {
  margin: 0;
  text-align: center;
  font: 1.5rem/1.3 "AbeeZeeRegular";
  display: inline-block;
}
.temperatures .current {
  display: block;
  font: 6rem /1.3 sans-serif;
}
/* .current::before {
  content: "\00A0";
  font-size: 6rem;
}
 */
.temperatures .current::after {
  content: "°";
  font-size: 4rem;
  vertical-align: top;
}
.temperatures .apparent {
  display: inline-block;
  width: 100%;
  font-size: 1.7rem;
}
.temperatures .apparent::before {
  content: "Feels Like\00A0";
  font-size: 1.7rem;
}
.apparent::after {
  content: "°";
}
.temperatures .apparent {
  display: inline-block;
  width: 100%;
}

/* time-stats container */
.time-stats {
  padding-top: 1rem;
}
/* local-time and weather-description container */
.time-stats > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8rem;
}
/* weather-condition */
.weather-condition {
  margin-right: 1rem;

  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

/* local-time */
.local-time {
  height: 3rem;
  display: flex;
  align-items: center;
}
.local-time .icon {
  height: 2.2rem;
  width: 2.2rem;
  margin-right: 0.5rem;
  background: url(images/icons/clock.svg) no-repeat center center/100% 100%;
}
.local-time .value {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}
/* stats */
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.7rem;
  padding: 0 2rem;
  text-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}
.stats div {
  text-wrap: nowrap;
  color: white;
  height: 3.4rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.stats .icon {
  height: 2.6rem;
  width: 2.6rem;
}
.sunset .icon {
  background: url(images/icons/sunset.svg) no-repeat center center/1.8rem 1.8rem;
  width: 2.7rem;
}
.sunrise .icon {
  background: url(images/icons/sunrise.svg) no-repeat center center/1.8rem
    1.8rem;
  width: 2.7rem;
}
.precipitation .icon {
  background: url(images/icons/precipitation.svg) no-repeat center center/2.2rem
    2.2rem;
}
.apparent-temperature .icon {
  background: url(images/icons/temperature.svg) no-repeat center center/2rem
    2rem;
  width: 2rem;
}
.apparent-temperature::after {
  content: "°C";
}
.precipitation::after {
  content: "%";
}
.humidity .icon {
  background: url(images/icons/humidity.svg) no-repeat center center/2.2rem
    2.2rem;
}
.humidity::after {
  content: "%";
}
.wind-speed .icon {
  background: url(images/icons/wind.svg) no-repeat center center/1.6rem 1.6rem;
}
.wind-speed::after {
  content: "\00A0km/h"; /* a space */
}
.cloud-cover .icon {
  background: url(images/icons/clouds.svg) no-repeat center center/1.7rem 1.7rem;
}
.cloud-cover::after {
  content: "%";
}
.rain .icon {
  background: url(images/icons/water-drop.svg) no-repeat center center/1.8rem
    1.8rem;
}
.rain::after {
  content: "mm";
}
.snowfall .icon {
  background: url(images/icons/snowflake.svg) no-repeat center center/1.8rem
    1.8rem;
}
.snowfall::after {
  content: "mm";
}
/* hourly weather */
.hourly-weather {
  height: 20rem;
  padding: 1.8rem 0;
}
.hourly-weather .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  margin-bottom: 2rem;
  padding: 0 1.8rem;
}
.hourly-weather span:first-child {
  /* referring to the word 'Today' */
  font-size: 2rem;
  font-weight: bold;
}
.hourly-weather .date {
  font-size: 1.8rem;
}
.hours {
  /* the container of all 'hour' divs */
  display: flex;
  flex-flow: row nowrap;
  height: 15.5rem;
  overflow-x: scroll;
  scrollbar-width: none;
}
.hour:first-child {
  margin-left: 1.8rem;
}
.hour {
  position: relative;
  padding: 0 1rem;
  /* the container for temperature + mini weather icon + time*/
  font-size: 1.8rem;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.hour-box:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hour .hour-box {
  z-index: 999;
  border-radius: 1rem;

  position: absolute;
  width: 100%;
  height: 100%;
}

.hour p {
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
}
.hour .mini-icon {
  margin: 0;
  margin-bottom: 0.5rem;
  height: 4.7rem;
  aspect-ratio: 1/1;
  position: relative;
}

.hour img {
  position: absolute;
  transform: translate(-24%, -20%);
  width: 180%;
  height: auto;
}

/* start of daily weather sectiom */
.daily-weather {
  padding: 1.8rem;
}

.day {
  position: relative;
}
.day-box:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.day .day-box {
  z-index: 999;
  border-radius: 1rem;

  position: absolute;
  width: 100%;
  height: 100%;
}
.daily-weather .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.daily-weather span {
  display: inline-block;
}
.daily-weather .header span:first-child {
  /* referring to 'Daily Forecast' text */
  font-size: 2rem;
  font-weight: bold;
}

.daily-weather .calendar-icon {
  height: 2.4rem;
  width: 2.4rem;
  background: url(images/icons/calendar.svg) no-repeat center center/100% 100%;
}

.day {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.day .name {
  font-family: monospace;
  padding-right: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.day-arrow {
  margin-left: 0.7rem;
  height: 1.4rem;
  width: 1.4rem;
  background: url(images/icons/arrow.svg) no-repeat center center / 1.4rem
    1.4rem;
}
.day span {
  font-size: 2rem;
}
.day .mini-icon {
  height: 5rem;
  width: 5rem;
}
.day img {
  width: 100%;
}

.temperature-range {
  width: 7.75rem;
}

.temperature-range span {
  width: 47%;
  text-align: right;
  font-family: monospace;
}

.temperature-range span:last-child {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 530px) {
  header {
    justify-content: space-around;
    margin-top: 2rem;
  }

  .day {
    box-sizing: border-box;
    padding: 0 0.5rem;
    width: 100%;
    justify-content: space-evenly;
  }
  .daily-weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
  }
  .daily-weather .header {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .weather-icon {
    aspect-ratio: 1/0.25;
    margin-bottom: 0;
  }
  .weather-icon img {
    width: 50%;
  }
  .search-container {
    width: 20rem;
  }
}
@media screen and (min-width: 650px) {
  .result h3 {
    font-size: 1.4rem;
    font-family: sans-serif;
  }
  .result p {
    font-family: sans-serif;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 900px) {
  main {
    margin-top: 1rem;
  }
  header {
    margin-top: 2.5rem;
  }
  .weather-icon {
    aspect-ratio: 1/0.2;
  }
  .weather-icon img {
    width: 35%;
  }

  .hour img {
    width: 190%;
    transform: translate(-26%, -22%);
  }

  .day img {
    width: 140%;
    transform: translate(-13%, -11%);
  }

  .location {
    font-size: 2rem;
  }
  .location-icon {
    width: 2rem;
    height: 2rem;
  }
  .search-container {
    width: 30rem;
  }
  .search-container input {
    height: 2.8rem;
    font-size: 1.5rem;
  }

  .use-location {
    height: 2.5rem;
  }
  .use-location .use-location-text {
    font-size: 1.6rem;
  }
  .result img {
    height: 80%;
  }
  .results-container {
    background-color: rgba(0, 16, 38, 0.3);
  }
  .result {
    background-color: rgba(173, 173, 173, 0.1);
  }
}
@media screen and (min-width: 1450px) {
  html {
    font-size: calc(10px + 0.0045 * 100vw);
  }
  .search-container input {
    height: 3.5rem;
  }
  .location {
    font-size: 3rem;
  }
  .location-icon {
    height: 3rem;
    width: 3rem;
    margin-top: 0.5rem;
  }
}
